<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link  type="text/css" rel="stylesheet" href="/css/site.css" />
</head>

<body>
<form method="post" class = "box_style">
    <label>ПІБ:</label><br />
    <input type="text" class="form-control" placeholder="ПІБ" required name="name" /><br /><br />
    <label>Дата народження:</label><br />
    <input type="text" class="form-control" placeholder="0000/00/00" name="date" /><br /><br />
    <input type="submit" class="btn btn-outline-info" value="Розрахувати" />
</form>
</body>