<head>
    <link  type="text/css" rel="stylesheet" href="/css/site.css" />
</head>

<body>
<form method="post" class = "box_style">
    <label>Художні твори та їх автори:</label>

    <select name="straight">
    <option value="Їхав козак за Дунай">Їхав козак за Дунай</option>
    <option value="Повчання дітям">Повчання дітям</option>
    <option value="Соловейко">Соловейко</option>
    </select>
    <p>
        <input type="image" src="/images/send.png"/>
    </p>
</form>
</body>