<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link  type="text/css" rel="stylesheet" href="../../wwwroot/css/site.css" />
</head>

<body>
<form method="post" class = "box_style">
    <input type="text" class="form-control" placeholder="Перше число" required name="firstNumber" /><br /><br />
    <p><input name="digit" type="radio" value="+"> Додати </p>
    <p><input name="digit" type="radio" value="-"> Відняти </p>
    <p><input name="digit" type="radio" value="*"> Помножити </p>
    <p><input name="digit" type="radio" value="/"> Поділити </p>
    <input type="text" class="form-control" placeholder="Друге число" required name="secondNumber" /><br /><br />
    <input type="submit" class="btn btn-outline-info" value="Порахувати" />
</form>
</body>